[submodule "lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/delegation-framework"]
	path = contracts/lib/delegation-framework
	url = https://github.com/metamask/delegation-framework
